
body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center; /* Ensures text inside elements is centered */
}

h1 {

    padding-top: 100px;
    width: 100%;
    max-width: 733px;
    color: #ffffff;
    font-family: "meursault-variable", serif;
    font-variation-settings: "wdth" 50, "wght" 900;
    font-size: 96px;
    font-weight: 400;
    line-height: var(--Display-Large-Line-Height, 64px); /* 66.667% */
    letter-spacing: var(--Display-Large-Tracking, -0.25px);
    margin: 0; /* Remove default margin */
}



h2 {
    font-family: "meursault-variable", serif;
    font-variation-settings: "wdth" 60, "wght" 500;
    color: #ffffff;
    width: 100%;
    max-width: 1042px;
    margin: 20px auto /* Add some spacing between elements */
}

h6{
    font-size: 32px;
    color: #000000;
    font-family: "meursault-variable", serif;
    font-variation-settings: "wdth" 60, "wght" 500;
    width: 100%;
    max-width: 1042px;
    margin: 20px auto /* Add some spacing between elements */
}

h3 {
    color: #ffffff;
    width: 70%;
    max-width: 1043px;
    font-family: "meursault-variable", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: var(--Display-Small-Line-Height, 44px); /* 183.333% */
    letter-spacing: -0.25px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
h7{
    color: #000000;
    width: 70%;
    max-width: 1043px;
    font-family: "meursault-variable", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: var(--Display-Small-Line-Height, 44px); /* 183.333% */
    letter-spacing: -0.25px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 200px;
}
h5 {
    color: #ffffff;
    width: 70%;
    max-width: 1043px;
    font-family: "meursault-variable", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: var(--Display-Small-Line-Height, 44px); /* 183.333% */
    letter-spacing: -0.25px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
h4 {
    color: #ffffff;
    width: 70%;
    max-width: 1043px;
    font-family: "meursault-variable", serif;
    font-size: 18px;
    font-weight: 500;
    line-height: var(--Display-Small-Line-Height, 44px); /* 183.333% */
    letter-spacing: -0.25px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 70px;
}




img {
    
    max-height: 900px;
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Add some spacing */
}
#barZone {
    width: 100%; /* Match the width of the SVG */
    height: 1150px; /* Adjust based on the size of your SVG */
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    text-align: center;
    background-color: rgb(240, 234, 214);

}

#bucketZone {
    padding-top: 100px;
}
#barChart {
    padding-top: 200px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    align-items: flex-end;
    height: 700px;
    margin-left: 40px;
}

#radarChartIntro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
}
#radarChart {   

    width: 100%;
    height: 100%;
    margin-top: 100px;
    margin-left: 0px;
    
}
#parallelChart {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 200%;
    height: 100%;
    padding-top: 100px;
}

#space{
    margin-top: 100px;
}
.bar {
    width: 20px;
    background-color: #007bff;
    margin-right: 10px;
}

.bar:last-child {
    margin-right: 0;
}

.bar-value {
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}
row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 200px;
}


 /* Style for the text block */
 #textBlock {
    position: relative; 
    margin: 10px auto; 
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.067); /* Optional: makes the text block stand out */
    width: 80%; /* Adjust the width as needed */
    font-family: Arial, sans-serif;
    height: 800px;
}
#doubleRadar {
    position: sticky; 
    top: 0; /* Sticks to the top of the viewport when within the containing block */
    z-index: 999; 
    background-color: #333;
   
  }


/* overflow-y: scroll; */

/* Wrapper to position the container and arrow */
#imageContainerWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 80vw;
    height: 20vw;
    overflow: hidden;
}

/* Image container with horizontal scrolling */
#imageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* Images with hover effect */
#imageContainer img.thumbnail {
    border: 2px #ccc;
    height: auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    border-style: ridge; /* Change border style to ridge */
}

#imageContainer img.thumbnail:hover {
    transform: scale(1.2);
}

/* Scroll arrow */
#scrollArrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    z-index: 5;
    color: #f0ead6;
    border: #000;
}

/* Fullscreen overlay */
#fullscreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#fullscreenOverlay img {
    max-width: 100%;
    max-height: 100%;
    border: 4px ridge #fff;
}

#fullscreenOverlay.hidden {
    display: none;
}

/* Close button for fullscreen view */
#closeFullscreen {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}



html {
    scroll-behavior: smooth;
}
.tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    pointer-events: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

